/src/packages/*
/src/.vs/*
/src/BattleshipGrid/obj/*
/src/BattleshipGrid/bin/*
/src/BattleshipGrid-UnitTests/bin/*
/src/BattleshipGrid-UnitTests/obj/*
/src/Battleship-problem-consoleApp/obj/*
/src/Battleship-problem-consoleApp/bin/*
/src/Battleship-WPFapp-DX/obj/*
/src/Battleship-WPFapp-DX/bin/*
/src/Battleship-WPFapp-DX/.vs/*